

.bonus{
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(166deg, rgba(240,240,240,1) 54%, rgba(255,233,109,1) 54%);
}
.bonus__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.bonus__item{
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}
.bonus__image{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.bonus__text{
  font-size: 20px;
}
@include media-md{
  .bonus__wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .bonus__item{
    width: calc(33.33% - 30px);
  }
}
