.edge{
  padding-left: 20px;
  padding-right: 20px;
}
.edge__subtitle{
  color: var(--blue);
  font-weight: 500;
  line-height: 1.6;
}
.edge__wrap{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
}
.advent{
  position: relative;
}
.advent::after{
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
}
.advent__num{
  position: absolute;
  color: var(--blue3);
  font-size: 25px;
}
.advent__text{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 20px;
  span{
    color: var(--red);
    font-weight: 500;
  }
  ul{
    padding-left: 10px;
  }
}
.advent__text--number{
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 0;
}
.advent__text--list{
 list-style: none;
}
.advent__text--list::before{
 content: "\2022";
 display: inline-block;
 margin-right: 10px;
}
.advent__alt-text{
  margin-left: 30px;
}
@include media-md{
  .edge{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .edge__title{
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
  }
  .edge__wrap-title{
    align-self: center;
  }
  .edge__subtitle{
    font-size: 25px;
  }
}
