.feadback__pretitle{
  margin-top: 50px;
}
.feadback{
  padding: 0 20px;
}
.feadback__wraper{
  // width: auto;
  // position: relative;
  // padding: 0 20px;
  display: grid;
}
.feadback__pretitle{
  color: var(--red);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.feadback__title{
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-wrapper{
  border-radius: 12px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 12px;;
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left{
  background: transparent;
}

@include media-md{
  .feadback{
    padding: 0 40px;
  }
}
@include media-lg{
  .feadback{
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Секция с информацией перед  отзывами */
.feadback-info{

  padding: 30px 40px;
  background-color: var(--blue);
  // background-image: url('../img/blue-curve.svg');
  // background-repeat: no-repeat;
  // background-size: cover;

}
.fedback-info__title{
  margin: 0;
  text-align: center;
  color: var(--yellow2);
}

@include media-md{

  .fedback-info__title{
    margin: 0 auto;
    max-width: 900px;
  }
}
