// body{
//   display: flex;
//   align-items: flex-start;
// }
.form-get,
.ym-customer-info {
  display: grid;
  max-width: 300px;
}

.form-get__label {
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
  // display: inline-block;
  width: auto;
}

.form-get__input {
  width: 100%;
  padding: 24px 20px 5px 20px;
  border: none;
  box-shadow: 0 0 0 1px var(--dark3);
  border-radius: 4px;
  transition: all .15s ease;
}

.from-get--text {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .2s ease
}

.form-get__btn {
  margin: 10px;
  padding: 15px 25px;
  border: none;
  border-radius: 9px;
  background-color: var(--yellow);
  transition: all .2s ease-in-out;
  @include focus(var(--yellow2), var(--yellow3), var(--dark))
}

.form-get__btn:hover {
  cursor: pointer;
}

.form-get__input:focus {
  outline: none;
  box-shadow: 0 0 0 1px;
}

.form-get__input:focus~.from-get--text,
.form-get__input:not(:placeholder-shown)~.from-get--text,
.form-get__input:-webkit-autofill~.from-get--text {
  display: block;
  transform: translate(-10px, -25px) scale(0.7);
  color: var(--dark2);
  transition: all .15s ease;
}

// .form-get__input:valid{
//   box-shadow: 0 0 0 1px #00C950;
// }
// .form-get__input:invalid:not(:placeholder-shown){
//   box-shadow: 0 0 0 1px var(--red);
// }
.from-get--error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  color: var(--red);
}

.price-modal__form {
  display: grid;
  justify-items: center;
}

/* Стили для формы youkassa */

.yoomoney-payment-form {
  margin: 0 auto;
  max-width: 300px;
}

.pay__speaking {
  .form-get__btn {
    width: 100%;
    margin: 0;
  }
}
