.free-btn{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  // margin: 0 20px;
  // filter: url(#goo);
}
.free-btn__link{
  @extend .btn;
  @extend .shadow-link;
  width: 100%;
  max-width: 360px;
  padding: 15px 30px;
  border-radius: 9px;
  background-color: var(--yellow);
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.free-btn__link:hover,
.free-btn__link:focus{
  background-color: var(--yellow2);
}
