.freeze {
  padding: 40px 20px;
  background-color: #FFE96D;
  border-radius: 12px;
}
.stop-course{
  text-align: center;
}

.stop-course {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stop-course__title{
  margin: 0;
  margin-top: 20px;
  line-height: 1.4;
}
.stop-course__subtitle{
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
}
.stop-course__img{
  width: 100%;
  height: auto;
}
.stop-course__container:first-child{
  max-width: 800px;
}
.stop-course__img--pic{
  object-fit: cover;
  border-radius: 9px;
}

.stop-course__subtitle{
  text-align: center;
  margin-top: 15px;
}
@include media-md{
  .freeze{
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
  }
  .stop-course__title,
  .stop-course__subtitle,
  .stop-course__text{
    margin: 0;
    text-align: left;
  }
  .stop-course__title{
    font-size: 35px;
    line-height: 1;
  }
  .stop-course__subtitle{
    margin-top: 5px;
    font-size: 20px;
    line-height: 1;
  }
  .stop-course__text{
    margin-top: 20px;
  }
  .stop-course{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .stop-course__container:last-child{
    align-self: center;
  }
}
