// Шрифты
@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  src: local('Golos Text Regular'),
   local('GolosText-Regular'),
   url('/fonts/Golostextregular.woff2') format('woff2'),
   url('/fonts/Golostextregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  src: local('Golos Text Medium'),
   local('GolosText-Medium'),
   url('/fonts/Golostextmedium.woff2') format('woff2'),
   url('/fonts/Golostextmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  src: local('Golos Text Bold'),
   local('GolosText-Bold'),
   url('/fonts/Golostextbold.woff2') format('woff2'),
   url('/fonts/Golostextbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;



}
// Цвета
:root{
  --yellow: #FFD803;
  --yellow2: #DBBB03;
  --yellow3: #FFE96D;
  --white: #FAFAFD;
  --white2: #EBEBF1;
  --white3: #F2F2F6;
  --dark: #28293F;
  --dark2: #555771;
  --dark3: #8E90A8;
  --blue: #083372;
  --blue2: #1F2E44;
  --blue3: #4D85D7;
  --focus: #C5DBFC;
  --red: #ED2424;
  --red2: #9A0C0C;
  --red3: #F65959;
}

// переменные
$mw: min-width;
$xs: 374px;
$sm: 479px;
$md: 768px;
$lg: 1023px;
$xl: 1200px;
$pad-table: 40;
$pad-mob: 20;

// Миксины
@mixin section{
  max-width: 1200px;
  margin: 0 auto;
}
@mixin padding($pad){
  padding-left:$pad;
  padding-right:$pad;
}
@mixin focus($bghover, $bgactive, $hover) {
  &:hover,
  &:focus {
    background-color: $bghover;
    color:$hover;
    outline: none;
      }
  &:active{
    background-color: $bgactive;
  }
  }
@mixin hover($active, $hover) {
  &:hover,
  &:focus {
    color:$hover;
    outline: none;
      }
  &:active{
    color: $active;
  }
  }

  /*===Для медиа=== */

  @mixin media-sm {
    @media(min-width:$sm) {
        @content;
        }
    }
  @mixin media-md {
    @media(min-width:$md) {
        @content;
        }
    }
  @mixin media-lg {
    @media(min-width:$lg) {
        @content;
        }
    }
  @mixin media-xl {
    @media(min-width:$xl) {
        @content;
        }
    }


// скрытие элментов
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
//Обнуление списка
.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
 }
//стили для кнопок
.btn{
  width: 100%;
  padding: 15px 0;
  border: none;
}
.link{
  width: 100%;
  padding: 15px 0;
}
.shadow-link-alt{
  box-shadow: 0px 0px 0px 2px var(--blue), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.shadow-link{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.link-info{
  font-size: 18px;
  font-weight: 500;
  color: var(--blue3);
  transition: all .1s ease-in-out;
  &:hover{
    color: var(--blue);
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  min-width: 320px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--white);
  // font-size: 16px;
  line-height: 27px;
  font-family: 'Golos Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  color: var(--dark);

}
img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

}
h1{
  font-size: 30px;
  line-height: 36px;
}
h2{
  font-size: 24px;
  line-height: 28px;
}
h3{
  font-size: 18px;
  line-height: 20px;
}


@media($mw:$lg){
  h1{
    font-size: 60px;
    line-height: 66px;
  }
  h2{
    font-size: 52px;
    line-height: 54px;
  }
  h3{
    font-size: 32px;
    line-height: 45px;
  }
}
@media($mw:$xl){
  h1{
    font-size: 72px;
    line-height: 83px;
  }
  h2{
    font-size: 52px;
    line-height: 54px;
  }
  h3{
    font-size: 32px;
    line-height: 45px;
  }
}
.amoforms-footer-copyright{
  display: none;
}
