.go-test{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  // margin: 0 20px;
  // filter: url(#goo);
}
.go-test__link{
  @extend .btn;
  @extend .shadow-link;
  width: 100%;
  max-width: 360px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 9px;
  background-color: var(--blue3);
  color: var(--white);
  text-align: center;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.go-test__link:hover{
  background-color: var(--blue);
}
.go-test__link:focus{
  background-color: var(--blue);
}
