.header-page{
  transition: all 0.3s ease-in-out;
}
.header-page__top{
  position: relative;
  display: grid;
  padding-top: 10px;
  z-index: 10;

}
.header__logo{
  grid-column: 1/2;
  align-self: center;
  padding-left: 20px;
}
.header__door{
  grid-column: 2/3;
  display: block;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
}
.logo{
  width: 200px;
  height: auto;
}
// .logo__link{
//   display: grid;
//   gap: 5px;
// }
// .logo__text{
//   margin: 0;
//   margin-left: 5px;
//   // text-align: center;
//   line-height: 0;
//   font-size: 18px;
//   font-weight: 500;
//   color: var(--blue);
// }
.enter__link{
  padding: 8px 20px;
  // background: #FAFAFD;
  // @extend .shadow-link-alt;
  border-radius: 7px;
  box-shadow: 5px 5px 15px #C1C1C3, -4px -4px 32px #FFFFFF;
  color: var(--blue);
  @include focus(var(--blue2), var(--blue3), var(--white));
}
.header__menu{
  grid-column: 1/3;
  padding-left: 20px;
  padding-right: 20px;
}
.menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  // border-bottom:2px solid var(--blue);
}
.menu__button{
  display: flex;
  align-items: center;
  // align-content: center;
  width: auto;
  // flex-grow: 1;
  padding: 15px 10px;
  padding-left: 0px;
  background-color: transparent;
  margin: 0;
  border: none;
  color: var(--blue);
  text-align: left;
  cursor: pointer;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease-in-out;
}
.menu__button::before{
  content:"";
  width: 10px;
  height: 10px;
  align-self: center;
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 7px;
  border-left: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  transform: rotate(-225deg);
  transition: all 0.3s ease-in-out;
}
.menu__button:hover,
.menu__button:focus{
  color: var(--yellow2);
  outline: none;
}
.menu__button:hover::before,
.menu__button:focus::before{
  border-left: 2px solid var(--blue3);
  border-bottom: 2px solid var(--blue3);
}
// }
// .menu__button:active::before{
//   border-left: 2px solid var(--yellow2);
//   border-bottom: 2px solid var(--yellow2);
// }
.header-page.menu__button[aria-expanded="true"]::before{
  transform: rotate(-45deg);
  margin-top: 0px;
}
.menu__down{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 1px solid var(--blue);
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.menu__list{
  @extend .list-none;
  background-color: #fff;
  transition: all .2s ease-in-out;

}

.menu__link{
  display: block;
  padding: 10px 20px;
  color: var(--blue);
  border-bottom: 1px solid var(--white2);
  font-weight: 500;
  @include hover(var(--blue2), var(--blue3));
}
.menu__alt-list{
  @extend .list-none;
  width: auto;
  display: flex;
}
/* .menu--activ-link{
  width: 100%;
  text-align: center;
} */
.menu__alt-item{
  display: block;
  flex-grow: 1;
}
.menu__alt-link{
  display: block;
  width: 100%;
  padding: 16px 10px;
  font-weight: 500;
  text-align: center;
  color: var(--blue);

  @include hover(var(--blue2), var(--blue3));
}
.menu__link--active{
  border-bottom: 2px solid var(--blue);
  color: var(--blue3);
  cursor: default;
}

      /* Cкрытое меню */

.header-page[aria-hidden="false"]{
  background-color: #fff;
}
.header-page[aria-hidden="true"]{
  .menu__down{
    opacity: 0;
    visibility: hidden;
  }
  .header-page__blok-menu{
    opacity: 0;
    visibility: hidden;
  }
}
.menu__button[aria-expanded="true"]{
  color: var(--yellow2);
  border-bottom: 2px solid var(--blue);
  &::before{
    border-left: 2px solid var(--yellow2);
    border-bottom: 2px solid var(--yellow2);
  }
}
.menu__button[aria-expanded="true"]{
  &::before{
    transform: rotate(-45deg);
    // margin-top: 0px;
  }
}
@include media-md{
  .header-page__top{
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__logo{
    grid-column: 1/2;
    grid-row: 1/2;
    // margin-left: 40px;
  }
  .header__door{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .header__menu{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .menu{
    padding: 0;
  }
  .header-page__blok-menu{
    position: absolute;
    left: 0;
    right: 0;
    // top: 100%;
    height: 50vh;
    border-top: 1px solid var(--white2);
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    z-index: 9;
  }
  .menu__button[aria-expanded="true"]{
    border: none;
  }
}
@include media-lg{
  .header-page{

    width: 100%;
  }
  .header-page__top{
    grid-template-columns: 0.7fr 2fr 0.7fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1400px;
  }
  .menu{
    border-bottom: none;
    justify-content: space-between;
    flex-grow: 0;
    align-items: center;
  }
  .menu__button{
    flex-grow: 0;
    box-shadow: 0 0 0 1px var(--blue);
    padding: 10px 20px 10px 20px;
    border-radius: 9px;
   }
   .menu__button:hover,
   .menu__button:focus{
     color: var(--blue3);
     box-shadow: 0 0 0 1px var(--blue3);
     outline: none;
   }
  //  .menu__button::before{
  //   margin-top: -3px;
  //  }
   .menu__alt-item--left{
     text-align: right;
   }
   .menu__alt-link {
     display: inline-block;
     width: auto;
   }

   /* Скрытое меню */

  .menu__button[aria-expanded="true"]{
    box-shadow: 0 0 0 1px var(--yellow),
    0px 3px 5px 1px rgba(34, 60, 80, 0.2);
    color: var(--yellow2);
    &::before{
      margin-top: 0;
      border-left: 2px solid var(--yellow2);
      border-bottom: 2px solid var(--yellow2);
    }
  }
}



