.last-step{
  display: flex;
  min-height: 400px;
  padding: 0 20px;
  background-image: url("../img/gradient-lets-step.svg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 70% 0;
}
.last-step.last-step--alt{
  background-image: url("");
  background-image: linear-gradient(to left, #ffd803, #ffc26a, #ffbdb4, #ffcceb, #ffe0ff, #f4e5ff, #ede8fd, #eaebf7, #e3e7f8, #dae2fa, #d0dffb, #c5dbfc);
}
.last-step__tile{
 margin: auto;
 font-weight: 500;
 line-height: 1.3;
}
.last-step__wrap{
  display: grid;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.last-step__frame{
  height: 70px;
  border-left: solid var(--blue2) 2px;
  border-right: solid var(--blue2) 2px;
}
.last-step__frame--up{
  border-top: solid var(--blue2) 2px;
}
.last-step__frame--down{
  border-bottom: solid var(--blue2) 2px;
}
@include media-md{
  .last-step__wrap{
    display: grid;
    align-items: center;
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
  }
}
