.test-main{
  padding-top: 30px;
}
.test-main__wraper{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.test-main__heading{
  padding-top: 10px;
  color: var(--balck);
  line-height: 1.2;
}
.test-main__info{
  margin-bottom: 40px;
  color: var(--balck);
}
.test-main__link{
  display: inline-block;
  padding: 0.7em 1.5em;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--balck);
  color: var(--balck);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: normal;
  word-wrap: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.test-main__link:hover{
  background-color: var(--yellow);
}
.test-main__link:focus{
  background-color: var(--balck);
  color: var(--yellow);
}
.test-advantage{
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.test-advantage__wraper{
  max-width: 1200px;
  margin: 0 auto;
}
.test-advantage__title{
  text-align: center;
}
.test-advantage__num{
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: orderedlist;
  margin-top: 50px;
}
.test-advantage__item{
  margin-bottom: 40px;
}
.test-advantage__subtitle{

  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 2.5em;
  margin: 0;
  align-items: start;
}
.test-advantage__subtitle::before{
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-size: 20px;
  line-height: 1.8;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: var(--yellow);
  border-radius: 10px;
}
.test-advantage__image{
  display: none;
}
.test-advantage__info{
  margin-bottom: 40px;
}
.test-advantage__link{
  display: block;
  max-width: 350px;
  padding: 0.5em 1.5em;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--balck);
  color: var(--balck);
  user-select: none;
  touch-action: manipulation;
  white-space: normal;
  word-wrap: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.test-link{
  margin: 0 auto;
}
.test-advantage__link:hover{
  background-color: var(--balck);
  color: var(--yellow);
  box-shadow: 0 0 0 2px var(--yellow);
}
.test-advantage__link:focus{
  background-color: var(--yellow);
  color: var(--balck);
  box-shadow: 0 0 0 2px var(--balck);
}

//кнопки в саомом тесте
.your-choice__wrap{
  display: grid;
  gap: 10px;
  justify-content: center;
}
.your-choice__link{
  max-width: 200px;
  @extend .btn;
  @extend .shadow-link;
  width: 100%;
  max-width: 300px;
  padding: 10px 26px;
  border-radius: 9px;
  background-color: var(--yellow);
  text-align: center;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.your-choice__link:hover,
.your-choice__link:focus{
  background-color: var(--yellow2);
}
.quest-link{
  display: inline-block;
  color: var(--yellow);
  font-size: 20px;
  text-decoration: none;
}
.quest-link:hover,
.quest-link:focus{
  color: var(--yellow2);
}
@media(min-width: 576px){
  .test-advantage__item{
    display: grid;
  }
  .test-advantage__image{
    display: block;
    width: 50%;
    justify-self: center;
    text-align: center;
  }
  .test-grid-title{
    grid-row: 2/3;
  }
  .test-grid-txt{
    grid-row: 3/4;
  }
  .test-grid-img{
    grid-row: 1/2;
  }
}
@media(min-width:768px){

  .test-main__wraper{
    display: grid;
    grid-template-columns: 1fr 0.5fr;

    padding-left: 50px;
  }
  .test-main__heading{
    padding-top: 50px;}
  .test-advantage__title{
    margin-bottom: 70px;
  }
  .test-main__image{
    padding-top: 50px;
    background-image: url(../img/test-man.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  .test-advantage__item:nth-of-type(2n){
    grid-template-columns: 0.5fr 1fr;
    .test-grid-img{
    grid-row: 1/3;
    grid-column: 1/2;
    }
  }
  .test-advantage__item{
    grid-template-columns: 1fr 0.5fr;
    margin-bottom: 60px;
  }
  .test-grid-title{
    grid-row: 1/2;
  }
  .test-grid-txt{
    grid-row: 2/3;
  }
  .test-grid-img{
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .test-link{
    display: flex;
    justify-content: center;
  }
}


/* Стили для самого теста */

  .your-lvl{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }

.your-lvl{
  padding: 0 20px;
}

.your-lvl__test{
  position: relative;
  margin-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  border-radius: 10px;
  // animation-name: lvl-modal-open;
  // animation-duration: 0.4s
}
.your-lvl__header{
  padding: 2px 16px;
  background-color: var(--white2);
}
.your-lvl__box{
  display: block;
  width: auto;
  height: 3px;

}
.your-lvl__qestions{
  padding: 20px 20px;
  font-size: 20px;
}

.your-lvl__btn{
  display: block;
	margin: 8px auto;
	padding: 10px 25px;
	width: 90%;
	border: 0;
  border-radius: 10px;
	background: var(--yellow);
	font-size: 16px;
	cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.your-lvl__btn:hover{
  box-shadow: 0 0 0 1px var(--dark3);
  transition: all 0.1s ease-in-out;
}
.your-lvl__btn-wrong{
	background: #c25d5d;
 }

.your-lvl__btn-correct{
	background: #2ebb5d;
}

.your-lvl__btn-passive{
	background: #B3B3B3;
}
.your-lvl__quantity{
  padding: 10px 0;
  font-size: 20px;
}
.test-lvl-audio{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.your-lvl__gray .your-lvl__btn-wrong{
  background: #B3B3B3;
}


@media (min-width: 768px){
  .your-lvl{
    padding-left: 20px;
    padding-right: 20px;
    // margin-left: 50px;
    // margin-top: 50px;
    // margin-right: 50px;
    // margin-bottom: 50px;
    // padding-top: 100px;
  }
  .your-lvl__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .your-lvl__test{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
// @media (max-height: 550px){
//   .your-lvl__modal{
//     padding-top: 5vh;
//   }
//   .your-lvl__modal-title{
//     margin: 5px;
//     font-size: 20px;
//   }
//   .your-lvl__buttons{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
