.lvl {
  padding: 0 20px;
  margin-bottom: 30px;
}

.lvl__header {
  margin: 0;
}

.lvl__subtitle {
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
}

.lvl__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.lvl__item {
  display: flex;
  align-items: center;
}

.lvl__image {
  width: 60px;
  height: 60px;
}

.lvl__wrap {
  margin-left: 30px;
}

.lvl__num {
  margin: 0;
  color: var(--blue);
  line-height: 1;
  font-size: 40px;
}

@include media-md {
  .lvl {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .lvl__header {
    text-align: center;
  }

  .lvl__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .lvl__item {
    width: calc(33.33% - 40px);
    margin: 0 20px;
  }
}
