
.amoforms-footer-copyright{
  display: none;
}

.course-lists{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}





.main-page{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 50px;
  padding: 0 20px;
  min-height: 50vh;
}
.social-icon{
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-page__avatar{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  max-width: 300px;
}
.main-page__content{
  grid-column: 1/3;
  grid-row: 2/3;

}

.main-page__qestion{
  grid-row: 3/4;
  grid-column: 1/3;
  margin-top: 30px;
  align-items: center;
}
.main-page__scroll-about{
  grid-row: 4/5;
  grid-column: 1/3;
  margin-top: 30px;
}

/* Аватар */
.main-page__avatar--pic{
  border-radius: 100%;
  box-shadow: 15px -15px 0 1px var(--yellow);
}
/* Иконки социальных сетей */

.social-icon{
  display: grid;
  gap: 10px;
  align-content: center;

}
.social-icon__link{
  display: block;
  width: 30px;

}
.social-icon--inline{
  width: 100%;
  height: auto;
  fill: var(--blue);
}

.social-icon--inline:hover,
.social-icon--inline:focus{
  fill: var(--blue2);
  transform: scale(1.1);
}
.about-eng__title{
  color: var(--blue);
  // opacity: 0;
  // transform: translateY(120%);ё
  // transition: all 0.8s;
  // transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
.about-eng__title.__active{
  opacity: 1;
  transform: translateY(0%);
}
.about-eng__text{
  font-weight: 400;
  color: var(--dark2);
}

/* Кнопка ЗАДАТЬ ВОПРОС */

.ask{
  position: relative;
  display: flex;
  justify-content: center;
  // margin: 0 20px;
  // filter: url(#goo);
}
.ask__btn{
  @extend .btn;
  @extend .shadow-link;
  width: 100%;
  max-width: 300px;
  max-height: 60px;
  border-radius: 9px;
  background-color: var(--yellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.ask__btn:hover{
  background-color: var(--yellow3);
}
.ask__socail{
  @extend .list-none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  transform: translateY(40px);
}
.ask__icon{
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.ask__link{
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid var(--white);
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--yellow);
}
.ask__link--inline{
  width: 100%;
  height: auto;
}
/* Скрытие социальных кнопок */

.ask__btn[aria-expanded="true"]{
  box-shadow: 0 0 0 2px var(--blue);
  background-color: var(--white);
}
.ask__socail[aria-hidden="false"]{
  opacity: 1;
  visibility: visible;
  transform: translateY(60px);
  // display: block;
  .ask__icon:nth-child(1){
    transform: translateX(-270%);
 }
 .ask__icon:nth-child(2){
    transform: translateX(-130%) translateY(40px);
 }
 .ask__icon:nth-child(3){
    transform: translateX(30%) translateY(40px) ;
 }
 .ask__icon:nth-child(4){
    transform: translateX(170%);
 }
}
/* ------------------ */


/* Кнопка скролла вниз */

.scroll-down{
  display: none;
}
// .scroll-down__list:hover .scroll-down__item,
// .scroll-down__list:focus .scroll-down__item{
//   transform: scale(1.2);
//   outline: none;
//   transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
// }
.scroll-down__list:hover,
.scroll-down__list:focus{
  transform: scale(1.2);
  outline: none;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.scroll-down__item{
  width: 40px;
  height: 40px;
}
.scroll-down__item--inline{
  width: 100%;
  height: auto;
}

.three-day__link{
  @extend .btn;
  @extend .shadow-link;
  display: inline-block;
  width: 100%;
  padding: 17px 20px;
  max-width: 350px;
  min-width: 300px;
  border-radius: 9px;
  background-color: var(--yellow);
  color: var(--dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  line-height: 1.3;
  font-weight: 500;
}
.three-day__link:hover,
.three-day__link:focus{
  background-color: var(--yellow3);
}

.three-day--stik ~ .main-page__patch{
  display: none;
}
/* Стили для смарт */
.smart,
.intensive {
  .about-eng__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .about-eng__item{
    display: flex;
    align-items: center;
  }
  .about-eng__item::before{
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url('../img/tick.svg');
    background-repeat: no-repeat;
  }
  .about-eng__title{
  margin-bottom: 0;
  }
  .about-eng__text{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  .three-day{
    display: static;

  }
  .three-day--stik{
    position: fixed;
    bottom: 10px;
    left: 50%;
    // width: 310px;
    transform: translateX(-50%);
    z-index: 999;
  }

}
/* Стили для интенсива */
.intensive{
  .about-eng__box{
    margin-top: 40px;
  }
  .info-message{
    display: flex;
    // align-items: center;
    max-width: 350px;
    box-shadow: -4px -4px 31px #FFFFFF, 4px 4px 32px #C9C9C9;
    border-radius: 12px;

  }
  .info-message__img{
    margin: 10px 20px;
    width: 8px;
    height: 40px;
  }
  .info-message__text{
    font-weight: 500;
  }
  .three-day{
    display: block;

  }
  .tiem-title{
    max-width: 350px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #713E8B;;
  }
  .timer{
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    // border-radius: 12px;
  }
  .timer__item{
    margin: 15px 0;
    padding: 0 15px;
  }
  .timer__item:nth-child(n+2){
    border-left: 3px solid #713E8B;
  }
  .timer__num{
    font-size: 29px;
    font-weight: 500;

  }
  .timer__data{
    display: block;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1;
  }
}

@include media-md{
  .smart .main-page__content{
    align-self: center;
  }
  .main-page{
    padding: 0 60px;
    gap: 30px;
  }
  .social-icon{
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .main-page__avatar{
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    max-width: 300px;
  }
  .main-page__content{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .main-page__qestion{
    grid-row: 2/3;
    grid-column: 2/3;
    display: block;
  }
  .main-page__scroll-about{
    grid-row: 3/4;
    grid-column: 2/3;
    // min-height: 40px;
  }
  .ask{
    max-width: 250px;
  }
  .scroll-down__list{
    justify-content: flex-start;
    max-width: 85px;
  }
  .three-day{
    min-width: 300px;
  }
}
@include media-lg{
  .main-page{
    min-height: 90vh;
  }
  .main-page{
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
  }
  .main-page__avatar{
    margin-top: 50px;
    grid-row: 1/2;
    align-self: end;
    max-width: 400px;
  }
  .main-page__content{
    align-self: center;
  }
  .about-eng__text{
    font-size: 20px;
  }
  .main-page__qestion{
    align-self: center;
    margin-top: 0;
  }
  .scroll-down{
    display: block;
  }
  .scroll-down__list{
    display: flex;
    justify-content: center;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  }
.smart,
.intensive{
  .three-day{
    position: static;
    transform: translateX(0);
  }
}
}
/* Стили для Starter */
.about-eng__subtitle{
  color: var(--yellow);
  text-shadow: 1px 1px 1px var(--blue);
}


