// переменные


/* Стили для Марафона */
.marathon {
  .three-day__link{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-right: 20px;
      transition: all 0.3s ease-in-out;
    }
  }
  .three-day__link:focus,
  .three-day__link:hover{
    span{
      transform: scale(1.05);

    }
  }
  .marathon-btn{
    width: 30px;
    height: 30px;
    fill: var(--dark2);
  }
  .about-eng__pretext {
    font-size: 30px;
  }
  .plus-smart{
    margin-top: 70px;
  }
  .plus-smart__number{
    top: -36px;
  }
  @include media-md{

    .about-speak{
      margin-bottom: 50px;
    }
  }
  .about-eng__info{
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
  }

  .about-eng__pretext{
    margin-top: 50px;
    // padding: 20px 20px;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: var(--yellow);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--blue2);
  }
  .about-eng__text{
    font-weight: 700;
  }
  .about-eng__subtitle{
    font-size: 30px;
    text-shadow: 1px 1px 1px var(--blue);
  }
  .about-eng__alt-text{
    font-size: 20px;
    font-weight: 500;
    color: var(--red3);
  }
  .marathon-what{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  .marathon-what__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .marathon-what__items{
    display: flex;
  }
  .marathon-what__text{
    margin-left: 20px;
  }
.marathon-what__image{
  animation: arrow_mar 3s infinite;
}
  @include media-md{
    .marathon-what__title{
      text-align: center;
    }
    .marathon-what__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .marathon-what__image{
      width: 50px;
      height: 50px;
    }
  }
}
@keyframes arrow_mar{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}
