

.modal-overlay{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: visible;
  z-index: 101;
  transition: all 0.2s ease-in;
}

.modal{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  width: 100%;
  margin-top: 80px;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: auto;
  background-color: var(--white);
  border-radius: 10px;
  text-align: center;
  z-index: 999;

  transition: all 0.3s ease-in;
}
.modal--video{
  max-width: 1100px;
  padding: 0;
}

.price-modal__plus{
  width: 40px;
  height: 40px;
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.price-modal__item:last-of-type{
  margin-top: -40px;
  margin-bottom: -40px;

}
.price-modal__item.price-modal__item--tel:last-of-type{
  margin-top: 0;
}
.modal-overlay.modal--active,
.modal.modal--active{
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-out;
}
.modal__container{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  // height: 100vh;
  width: 100%;
}
.price-modal__title{
  padding-top: 10px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.price-modal__box{
  display: grid;
  justify-items: center;
}
.modal__link{
  margin-top: 20px;
  cursor: pointer;
}
.modal__link{
  @extend .btn;
  @extend .shadow-link;
  width: 100%;
  max-width: 300px;
  border-radius: 9px;
  background-color: var(--yellow);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: var(--black)
}
.modal__link:hover{
  background-color: var(--yellow2);
}
.modal__link:focus{
  background-color: var(--yellow2);
}
.modal__video{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  }
  .modal__video--emb{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: none;
  }

// @media (min-height: 600px){
//   .modal{
//     padding-bottom: 40px;
//     margin-top: 0;
//   }
//   .modal__container{
//     overflow: hidden;
//     height: auto;
//   }
// }
@include media-md{
  .modal{
    top: 40%;
  }
}
