.not-found{
  padding: 0 20px;
}
.not-foun__error{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 100px;
  line-height: 1;
}
.not-fouun-num{
  background:  var(--yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.not-found__title{
  background: var(--yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.not-fouun-num--four{
  animation: anim-four 4s infinite;
}
.not-fouun-num--zero{
  animation: anim-zero 4s infinite;
}
@media(min-width: 768px){
  .not-foun__error{
    margin-top: 50px;
    font-size: 200px;
  }
}
@keyframes anim-four{
  from{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  to{
      transform: translateY(-10px);
    }
}
@keyframes anim-zero{
  from{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(-10px);
  }
  to{
      transform: translateY(10px);
    }
}
