.pay-speak {
  padding: 0 20px;
  margin-bottom: 50px;
}

.pay-speak__title {
  text-align: center;
}

.pay-speak__wrap {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pay-speak__container {
  margin: 20px auto;
}

.price-sc {
  width: 100%;
  max-width: 500px;
  // padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 2px 13px 0px rgba(50, 50, 50, 0.75);
  background-color: var(--yellow);
}

.price-sc__title {
  text-align: center;
  margin: 0;
  // padding-bottom: 15px;
  padding-top: 25px;

  font-size: 22px;
}
.price-sc__info{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--white);
}
.price-sc__text {
  margin: 0;
  padding: 20px 40px;
  font-size: 16px;
  text-align: center;
}

.price-sc__box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.price-sc__week {
  font-size: 20px;
  pointer-events: none;
}
.price-sc__btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 15px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out
}

.price-sc__btn.--active {
  background-color: var(--yellow);

  .price-sc__radio {
    background-color: var(--white);
  }

  .price-sc__radio::after {
    background-color: var(--yellow);
  }

  .price-sc__week {
    font-weight: 500;

  }
}

.price-sc__radio {
  position: relative;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: var(--yellow);
  pointer-events: none;
}

.price-sc__radio::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--white);
}
.price-sr__tabs{
  height: auto;
  min-height: 200px;
}
.price-sc__container {
  padding: 30px 20px;
  height: auto;
}

.price-sc__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.price-sc__wrap.--active {
  opacity: 1;
  height: auto;
  max-height: 100px;
}

.price-sc__rub {
  margin: 0;
  margin-right: 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
}

.price-sc__pay {
  // display: block;
  max-width: 250px;
  // width: 100%;
  // margin: 0 auto;
  padding: .5em 2em;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 0 2px var(--yellow);
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.price-sc__pay:hover {
  background-color: var(--yellow);
  box-shadow: 0 0 0 2px var(--white);
  color: var(--white);
  transition: all 0.3s ease-in;
}

.price-sc__pay:focus {
  background-color: var(--yellow);
  box-shadow: 0 0 0 2px var(--white);
  color: var(--white);
  outline: none;
  transition: all 0.3s ease-in;
}

@include media-md {
  .pay-speak{
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .pay-speak__wrap {
    margin: 0 -15px;
    margin-top: 60px;
  }

  .price-sc {
    width: calc(33.33% - 30px);
    margin: 0 15px;
  }
}
