.solution{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.solution__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.solution__item{
  margin: 15px;
}
.tick-conteiner__wrap{
  display: flex;
  align-items: center;
}
.tick-conteiner__img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.tick-conteiner__title{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.tick-conteiner__text{
  margin: 0;
}
@include media-md{
  .solution{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .solution__title{
    text-align: center;
  }
  .solution__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .solution__item{
    width: calc(50% - 30px);
  }
}
/* Стили для стартер */
.starter.solution{
    margin-top: 40px;
}
