.thanks {
  padding: 0 20px;
  margin-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.bnt-lk {
  display: flex;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 100%;

}
.btn-link__wrap{
  width: 100%;
}
.btn-lk__link {
  display: block;
  width: 100%;
  padding: 12px 35px;
  max-width: 320px;
  max-height: 60px;
  border-radius: 9px;
  background-color: var(--yellow);
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--dark);
  cursor: pointer;
}
.issue {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.btn-lk__link:hover {
  background-color: var(--yellow3);
  text-decoration: none;
  color: var(--dark);
}

.ask {
 position: relative;
 max-width: 320px;

}

.ask__btn {
  @extend .btn;
  @extend .shadow-link;
  position: relative;
  width: 100%;
  display: block;
  padding: 15px 35px;
  max-width: 320px;
  max-height: 60px;
  border-radius: 9px;
  background-color: var(--yellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: 500;
}

.ask__btn:hover {
  background-color: var(--yellow3);
}

.ask__socail {
  @extend .list-none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  transform: translateY(40px);
}

.ask__icon {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.ask__link {
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid var(--white);
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--yellow);
}

.ask__link--inline {
  width: 100%;
  height: auto;
}

/* Скрытие социальных кнопок */

.ask__btn[aria-expanded="true"] {
  box-shadow: 0 0 0 2px var(--blue);
  background-color: var(--white);
}

.ask__socail[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  transform: translateY(60px);

  // display: block;
  .ask__icon:nth-child(1) {
    transform: translateX(-270%);
  }

  .ask__icon:nth-child(2) {
    transform: translateX(-130%) translateY(40px);
  }

  .ask__icon:nth-child(3) {
    transform: translateX(30%) translateY(40px);
  }

  .ask__icon:nth-child(4) {
    transform: translateX(170%);
  }
}

