.you-can{
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.you-can__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.you-can__item{
  width: 100%;
}
.box-inform{
  border-radius: 12px;
  padding: 20px;
  margin: 15px 0;
  background-color: var(--focus);
}
.box-inform__iamge{
  width: 70px;
  height: 70px;
}
.box-inform__text{

  font-weight: 500;
}
@include media-sm{
  .you-can{
    margin-bottom: 40px;
  }
  .you-can__list{
    margin: 0 -10px;
  }
  .you-can__item{
    width: calc(50% - 20px);
    margin: 10px;
  }
}
@include media-md{
  .you-can{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .you-can__title{
    text-align: center;
  }
  .you-can__list{
    margin: 0 -10px;
  }
  .you-can__item{
    width: calc(25% - 20px);
    margin: 10px;
  }
}
