.your-result {
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.your-result__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.your-result__item {
  margin: 30px 0;
}

.your-result__image {
  width: 50px;
  height: 50px;
}

.your-result__text {
  margin: 0;
}

@include media-md {
  .your-result {
    width: 1200px;
    margin: 0 auto;
  }

  .your-result__title {
    text-align: center;
  }

  .your-result__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  .your-result__item {
    width: calc(25% - 40px);
    margin: 10px 20px;
  }
}
