// переменные
$mw: min-width;
$xs: 374px;
$sm: 479px;
$md: 768px;
$lg: 1023px;
$xl: 1200px;
$pad-table: 40;
$pad-mob: 20;

// Миксины
@mixin section{
  max-width: 1200px;
  margin: 0 auto;
}
@mixin padding($pad){
  padding-left:$pad;
  padding-right:$pad;
}
@mixin focus($bghover, $bgactive, $hover) {
  &:hover,
  &:focus {
    background-color: $bghover;
    color:$hover;
    outline: none;
      }
  &:active{
    background-color: $bgactive;
  }
  }
@mixin hover($active, $hover) {
  &:hover,
  &:focus {
    color:$hover;
    outline: none;
      }
  &:active{
    color: $active;
  }
  }

  /*===Для медиа=== */

  @mixin media-sm {
    @media(min-width:$sm) {
        @content;
        }
    }
  @mixin media-md {
    @media(min-width:$md) {
        @content;
        }
    }
  @mixin media-lg {
    @media(min-width:$lg) {
        @content;
        }
    }
  @mixin media-xl {
    @media(min-width:$xl) {
        @content;
        }
    }
/* Стили для Марафона */
.marathon {
  .three-day__link{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      margin-right: 20px;
      transition: all 0.2s ease-in-out;
    }
  }
  .three-day__link:focus,
  .three-day__link:hover{
    span{
      transform: rotate(35deg);

    }
  }
  .marathon-btn{
    width: 30px;
    height: 30px;
    fill: var(--dark2);
  }
  .about-eng__pretext {
    font-size: 30px;
  }
  .plus-smart{
    margin-top: 70px;
  }
  .plus-smart__number{
    top: -36px;
  }
  @include media-md{
    .plus-smart{
      width: calc(50% - 40px);
    }
    .about-speak{
      margin-bottom: 50px;
    }
  }
  .about-eng__info{
    color: var(--dark2);
    font-size: 18px;
    font-weight: 500;
  }

  .about-eng__pretext{
    margin-top: 50px;
    padding: 20px 50px;
    background-color: var(--yellow);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: var(--blue2);
  }
  .about-eng__text{
    font-weight: 700;
  }
  .about-eng__subtitle{
    font-size: 30px;
    text-shadow: 0px 0px 2px var(--dark);
  }

  .marathon-what{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  .marathon-what__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .marathon-what__items{
    display: flex;
  }
  .marathon-what__text{
    margin-left: 20px;
  }
  @include media-md{
    .marathon-what__title{
      text-align: center;
    }
    .marathon-what__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .marathon-what__image{
      width: 50px;
      height: 50px;
    }
  }
}
