@import "node_modules/normalize.css/normalize";

@import "node_modules/swiper/modules/navigation/navigation.scss";

@import "node_modules/swiper/modules/pagination/pagination.scss";

@import "node_modules/swiper/swiper.scss";

@import "common/global";

@import "common/header";

@import "common/main";

@import "common/what-courses";

@import "common/real-opport";

@import "common/guarantee";

@import "common/last-step";

@import "common/feadback";

@import "common/faq";

@import "common/footer";

@import "common/benefits";

@import "common/problem";

@import "common/free-btn";

@import "common/box-info";

@import "common/passage";

@import "common/price";

@import "common/go-test";

@import "common/modal";

@import "common/stages-sign";

@import "common/lvl-test";

@import "common/different";

@import "common/edge";

@import "common/solution";

// @import "common/schedule";


@import "common/not-found";

@import "common/freeze";

@import "common/option-for";

@import "common/about-speak";

@import "common/you-can";

@import "common/lvl";

@import "common/pay-speak";

@import "common/your-result";

@import "common/form";

@import "common/marathon.scss";

// @import "common/test";
